<div id="bindtele" class="container-fluid" *ngIf="wxUser">
  <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
  <img class="img-circle center-block" [src]="wxUser?.headimgurl" id="headImg" alt=" "  title={{wxUser?.nickname}} />
  <!--<div  id="nickname" class="center-block">-->
    <!---->
  <!--</div>-->
  <!--[toasterconfig]="toasterConfig"-->
  <form>
    <div class="form-group">
    <!--<label  class="control-label">昵称：{{wxUser.nickname}}<span style="color: #ff6e78">({{wxUser.id}})</span></label>-->
    <!--&lt;!&ndash;<input class="form-control " id="nickname" name="nickName" value={{wxUser.nickname}}({{wxUser.id}}) disabled>&ndash;&gt;-->
      <label>{{wxUser?.nickname}}:<span style="color: #ff6e78">{{wxUser?.id}}</span></label>
    </div>

    <div class="form-group">
      <label for="tele" class=" control-label">电话号码：</label>
      <input class="form-control" type="number" id="tele" name="tele" placeholder="电话号码" [(ngModel)]="newTele"
             [disabled]="isTeleDisable()">
    </div>

    <div class="form-group">
      <label for="authCode" class="control-label">验证码：</label>
      <input type="number" class="form-control" id="authCode" name="authCode" [(ngModel)]="authCode" placeholder="验证码">
    </div>


    <div class="form-group">
      <div class="col-xs-offset-1  col-xs-4">
        <button class="btn btn-primary" (click)="getAuthCode()" [disabled]="getAuthCodeButtonDisable">
          {{getAuthCodeButtonTitle}}
        </button>
      </div>
      <div class="col-xs-offset-1  col-xs-4">
        <button type="submit" class="btn btn-primary " (click)="bindTele()">绑定号码</button>
      </div>
    </div>

    <!--<div style="height: 3px ;width: 100%;background: black"></div>-->
    <!--<div style="height: 1em ;width: 100%;"></div>-->
    <!--<div class="row text-center" style="margin-bottom: 1em;margin-top: 1em;">-->
    <!--<span class="col-xs-offset-5  col-xs-1">用户资料</span>-->
    <!--</div>-->

    <div class="form-group" id="second-form">
      <label for="userName" class="control-label" id="user-real-name">用户姓名：</label>
      <input type="email" class="form-control" id="userName" name="userName" placeholder="用户姓名"
             [(ngModel)]="wxUser.longName">

    </div>

    <div class="form-group">
      <label for="address" class="control-label">邮寄地址：</label>
      <input class="form-control" id="address" name="address" placeholder="邮寄地址" [(ngModel)]="wxUser.mailAddr">
    </div>

    <div class="form-group">
      <div class="col-xs-offset-1  col-xs-4">
        <button type="submit" class="btn-primary btn" (click)="submitUserInfo()">提交资料</button>
      </div>
    </div>

  </form>

</div>

