<div class="container-fluid">

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 "><h3>发展人信息</h3></div>
  </div>
  <!--<div class="msg_left col-xs-4">-->
  <!--<img src="http://122.192.127.40:8030/wd/assets/wx/img/chengji.png" alt="">-->
  <!--</div>-->
  <div class="row">
    <div class="msg_right col-xs-10 waring">
      <p>填写须知:</p>
      <p>1.请认真填写代理商信息,保证信息真实！</p>
      <p>2.微信号在对方微信“通信圈公众号”“我的信息”菜单红色数值！</p>
      <p>3.所有项目为必填项</p>
      <!--<p>2.绑定银行卡必须与注册姓名一致</p>-->
    </div>
  </div>


<div class="row"><br></div>
<form class="form-horizontal ">
  <div class="form-group ">
    <label for="certname" class="col-xs-4 control-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</label>
    <div class="col-xs-7">
      <input type="text" class="form-control" id="certname" placeholder="" [(ngModel)]="agent.certName" name="certName">
    </div>
  </div>

  <div class="form-group ">
    <label for="certid" class="col-xs-4 control-label">身&nbsp;&nbsp;份&nbsp;&nbsp;证:</label>
    <div class="col-xs-7">
      <input type="text" class="form-control" id="certid" placeholder="" [(ngModel)]="agent.certId" name="certId">
    </div>
  </div>
  <div class="form-group ">
    <label for="wx-id" class="col-xs-4 control-label">微信编码:</label>
    <div class="col-xs-7">
      <input type="text" input-number   class="form-control" id="wx-id" placeholder="输入微信号" [(ngModel)]="agent.wxUserId" name="wxUserId">
    </div>
  </div>

  <!--<div class="form-group ">-->
    <!--<label class="col-xs-4 control-label">账户银行:</label>-->
    <!--<div class="col-xs-8">-->
      <!--<input type="text" class="form-control" id="bank" placeholder="">-->
      <!--<select id="bank">-->
        <!--<option value ="工商银行">工商银行</option>-->
        <!--<option value ="中国银行">中国银行</option>-->
        <!--<option value="农业银行">农业银行</option>-->
        <!--<option value="建设银行">建设银行</option>-->
      <!--</select>-->
      <!--<p-autoComplete [(ngModel)]="agent.bankName" name="bankName" [suggestions]="filteredbanks" (completeMethod)="filterBanks($event)" [size]="20"-->
                      <!--[minLength]="1" placeholder="请选择银行" [dropdown]="true">-->
        <!--<ng-template let-ba pTemplate="item">-->
          <!--<div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">-->
            <!--&lt;!&ndash;<img src="assets/showcase/images/demo/car/{{brand}}.png" style="width:32px;display:inline-block;margin:5px 0 2px 5px"/>&ndash;&gt;-->
            <!--<div style="font-size:18px;float:right;margin:10px 10px 0 0">{{ba}}</div>-->
          <!--</div>-->
        <!--</ng-template>-->
      <!--</p-autoComplete>-->
      <!--{{bank}}-->
      <!--<div class="editable" >-->
        <!--&lt;!&ndash;[ngModelOptions]="{standalone: true}"&ndash;&gt;-->
        <!--<select [(ngModel)]="bank" name="bank" >-->
          <!--<option *ngFor="let item of banbks" [value]='item'>{{item}}</option>-->
        <!--</select>-->
        <!--<input [(ngModel)]="bank" name="bank">-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group ">-->
    <!--<label for="bank-account" class="col-xs-4 control-label">银行账户:</label>-->
    <!--<div class="col-xs-7">-->
      <!--<input type="text" class="form-control" id="bank-account" placeholder="" [(ngModel)]="agent.bankAccount" name="bankAccount">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group ">-->
    <!--<label for="accountname" class="col-xs-4 control-label">账户姓名:</label>-->
    <!--<div class="col-xs-7">-->
      <!--<input type="text" class="form-control" id="accountname" placeholder=""[(ngModel)]="agent.bankName" name="bankName">-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group ">
    <label for="store_name" class="col-xs-4 control-label">门店名称:</label>
    <div class="col-xs-7">
      <input type="text" class="form-control" id="store_name" placeholder="" [(ngModel)]="agent.storeName" name="storeName">
    </div>
  </div>
  <div class="form-group ">
    <label for="address" class="col-xs-4 control-label">门店地址:</label>
    <div class="col-xs-7">
      <input type="text" class="form-control" id="address" placeholder="" [(ngModel)]="agent.address" name="address">
    </div>
  </div>
  <!--<div class="form-group clearBoth">-->
    <!--<label for="licence_id" class="col-xs-4 control_label">营业执照编号:</label>-->
    <!--<div class="col-xs-7">-->
      <!--<input type="text" class="form-control" id="licence_id" placeholder="">-->
    <!--</div>-->
  <!--</div>-->
  <!--{{agent|json}}-->
  <div class="form-group ">
    <div class="col-xs-4 col-xs-offset-4">
      <button class="btn-primary btn-lg" (click)="submit()">提交</button>
    </div>
  </div>
</form>
</div>
